/**
 * Place your custom CSS styles here.
 **/
.custom_btn{
  cursor:pointer;
}
.currency_code{
  cursor:pointer;
}

#add_favourite{
  float: right;
  margin-right: 15px;
  margin-top: -45px;
}

#favourites_dropdown{
  z-index: 900;
  list-style: none;
  position: absolute;
  background: white;
  padding: 12px;
  width: 239px;
  box-shadow: 2px 3px 8px #888888;
}

#favourites_dropdown > li {
   line-height: 28px;
   z-index:1000;
}

#favourites_dropdown > li:hover {
   color:#589cff;
}

#favourite_input{
  z-index: 9999;
}

.close{
  padding-top: 10px;
}
.close:hover{
  color:black !important;
}

.ctrl:hover{
  color:red !important;
}

#content{
  padding-bottom:0px !important;
}

#add_favourite {
  position: absolute;
  transform: scale(0.35);
  /* margin-top: -74px; */
  top: 7px;
  right: -59px;
  /* margin-right: -75px; */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 70px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #589cff;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
  color: #589cff;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

#add_favourite:hover {
  color: rgba(255,255,255,1);
  background: #589cff;
}

#add_favourite:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#market_toggle{
  display:inline-block;
  cursor:pointer;
  user-select: none;
  width: 23px;
}
#market_toggle:hover{
  color:blue;
}
